
<!-- Created by Scott. -->
<!-- page contentType="text/html;charset=UTF-8" language="java"-->
<html>
<head>
    <title>Message Board</title>
    <style>
        [class*="col-"] {
        float: left;
        padding: 15px;

        }
        [class*="col-"] {
        width: 100%;
        }
        @media only screen and (orientation: landscape) {
        [class*="col-"] {
        width: 50%;
        }
        }
        @media only screen and (min-width: 700px) {
        .col-m-1 {width: 8.33%;}
        .col-m-2 {width: 16.66%;}
        .col-m-3 {width: 25%;}
        .col-m-4 {width: 33.33%;}
        .col-m-5 {width: 41.66%;}
        .col-m-6 {width: 50%;}
        .col-m-7 {width: 58.33%;}
        .col-m-8 {width: 66.66%;}
        .col-m-9 {width: 75%;}
        .col-m-10 {width: 83.33%;}
        .col-m-11 {width: 91.66%;}
        .col-m-12 {width: 100%;}
        }
        @media only screen and (min-width: 768px) {
        .col-1 {width: 8.33%;}
        .col-2 {width: 16.66%;}
        .col-3 {width: 25%;}
        .col-4 {width: 33.33%;}
        .col-5 {width: 41.66%;}
        .col-6 {width: 50%;}
        .col-7 {width: 58.33%;}
        .col-8 {width: 66.66%;}
        .col-9 {width: 75%;}
        .col-10 {width: 83.33%;}
        .col-11 {width: 91.66%;}
        .col-12 {width: 100%;}
        }

        .row::after {
        content: "";
        clear: both;
        display: table;
        }
        body{
        background-color:lightseagreen;
        font-family:"Trebuchet MS";
        font-size:18px;
        text-align:center;
        color:white;
        }
        .button {
        background-color:#f4511e ;
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        cursor: pointer;
        border-radius:5px;

        }

        .button:hover{
        background-color: white;
        color: black;
        border: 2px solid #f4511e;
        }
    </style>
</head>
<body>
<h1>Welcome to the Message Board</h1>
<h2>What would you like to do?</h2>
{{#items}}
    Name: {{name}}
    Price: {{price}}
    {{#features}}
        Feature: {{description}}
    {{/features}}
{{/items}}

<br>
<div class="row">
    <button class="button">Existing Topics</a></button>
    <button class="button" id="addTopic">Add a new topic</a></button>
</div>
</body>
</html>
